@charset "UTF-8";

#sub{/*padding-top: 200px;*/}
#sub .sub_view{}
#sub .sub_view .img{position: relative; overflow: hidden; height: 450px;}
#sub .sub_view img{display: block; width: 1920px; height: 450px; position: absolute; left: 50%; margin-left: -960px; }

#sub .sub_view .sub_tit{padding: 276px 0 0; position: absolute; top:0; left:0; right:0;}
#sub .sub_view .sub_tit h2{font-size: 48px; color: #fff; font-weight: 600;}

#sub .breadcrumb_box{position: relative; height: 61px; text-align: center; font-size: 0; border-bottom: 1px solid #ddd;}
#sub .breadcrumb_box .breadcrumb{display: inline-block;}
#sub .breadcrumb_box .box{position: relative; float: left; /*margin-right: 71px;*/}
#sub .breadcrumb_box .box:last-child{margin-right: 0;}
#sub .breadcrumb_box .box > a{position: relative; display: block; padding: 22px 35px; /*padding: 22px 35px;*/ color: #777; /*overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/ font-size: 16px;}
#sub .breadcrumb_box .box:first-child > a{padding-left: 0;}
#sub .breadcrumb_box .box:last-child > a{padding-right: 0;}
#sub .breadcrumb_box .box > a::before{content: ""; position: absolute; top:50%; transform: translateY(-50%) rotate(45deg); right:0; width: 10px; height: 10px; background: url(../images/common/sp_new.png)no-repeat; background-size:800px 880px; border: 1px solid #2a2a2a; border-width: 1px 1px 0 0;}
#sub .breadcrumb_box .box > a span{display: block; position: relative; line-height: 1;}
#sub .breadcrumb_box .box > a span::after{display: none; content: ""; position: absolute; left:0; right:0; bottom: -2px; width: 100%; height: 1px; background: #bababa;}
#sub .breadcrumb_box .box > a:hover span::after{display: block;}
#sub .breadcrumb_box .box:last-child > a{color: #111;}
#sub .breadcrumb_box .box:last-child > a::before{display: none;}
#sub .breadcrumb_box .box ul.depth{display: none; width: 180px; position: absolute; top:60px; left:50%; right:0; transform: translateX(-50%); background: #fff; z-index: 10; box-shadow: 0 20px 30px rgba(0,0,0,.3); border-radius: 10px;}
#sub .breadcrumb_box .box ul.depth li{text-align: left;}
#sub .breadcrumb_box .box ul.depth li a{position: relative; display: block; padding: 22px 0 22px 20px; color: #000; font-size: 16px; transition: all .3s;}
#sub .breadcrumb_box .box ul.depth li a:hover{color: #ff3f4a;}

@media (max-width: 1199px) {

    #sub{padding: 0;}

    #sub .breadcrumb_box{height: auto;}

    #sub .sub_view .sub_tit{padding: 146px 0 0;}

    #sub .breadcrumb_box .box > a{padding: 22px 30px;}
    #sub .breadcrumb_box .box ul.depth{display: none!important;}

    /* font */
    #sub .sub_view .sub_tit h2{font-size: 44px;}
    #sub .breadcrumb_box .box a{font-size: 15px;}

}

@media (max-width: 1024px) {

    #sub .sub_view img{margin-left: -1158px;}

    #sub .breadcrumb_box .box > a{padding: 22px 25px;}
    #sub .breadcrumb_box{padding-left: 20px;}

    /* font */
    #sub .sub_view .sub_tit h2{font-size: 40px;}
    #sub .breadcrumb_box .box a{font-size: 14px;}

}

@media (max-width: 768px) {

    .breadcrumb_box{overflow-x: auto;}
    .breadcrumb{width: 1024px;}

    #sub .sub_view img{margin-left: -1270px;}

    #sub .breadcrumb_box .box > a{padding: 22px 20px;}

    /* font */
    #sub .sub_view .sub_tit h2{font-size: 36px;}

}

@media (max-width: 480px) {

    #sub .sub_view .sub_tit{padding: 132px 0 0;}

    /* font */
    #sub .sub_view .sub_tit h2{font-size: 32px;}

}

#sub .content_wrap .tit_box{position: relative; padding: 95px 36px 46px; /*height: 182px; border-bottom: 1px solid #aaa;*/}
#sub .content_wrap .tit_box h3{font-size: 34px; color: #111; font-weight:500; text-align: center; line-height: 40px;}
#sub .content_wrap .tit_box .btn_box{width: 75px; position: absolute; top:95px; right:0; font-size: 0; z-index: 3;}
#sub .content_wrap .tit_box .btn_box > div{float: left;}
#sub .content_wrap .tit_box .btn_box button{position: absolute;}
#sub .content_wrap .tit_box .btn_box button.share{left: 50%; top:50%; transform: translate(-50%, -50%); width: 16px; height: 20px; background: url(../images/sub/share.png)no-repeat;}
#sub .content_wrap .tit_box .share_box{position: relative; width: 37px; height: 40px;}
#sub .content_wrap .tit_box .share_box .sns{display: none; position: absolute; top:38px; left:50%; transform: translateX(-50%);}
#sub .content_wrap .tit_box .share_box .sns a{display: block; margin-bottom: 3px; width: 37px; height: 37px; background: url(/page/common/images/sp_dq.png)no-repeat; background-size: 520px 1500px;}
#sub .content_wrap .tit_box .share_box .sns a.naver{background-position: -1px -321px; }
#sub .content_wrap .tit_box .share_box .sns a.facebook{background-position: -41px -321px; }
#sub .content_wrap .tit_box .share_box .sns a.twitter{background-position: -81px -321px; }
#sub .content_wrap .tit_box .share_box .sns a.kakao{background-position: -121px -321px; }
#sub .content_wrap .tit_box .print_box{width: 38px; height: 40px;}
#sub .content_wrap .tit_box .btn_box button.print{right:0; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url(../images/sub/print.png)no-repeat;}

@media (max-width: 1199px) {

    #sub .content_wrap .tit_box{padding: 80px 0;}
    #sub .content_wrap .tit_box .btn_box{top: 80px;}

    /* font */
    #sub .content_wrap .tit_box h3{font-size: 30px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .tit_box{height: auto; padding: 60px 0;}
    #sub .content_wrap .tit_box .btn_box > div{float: right;}
    #sub .content_wrap .tit_box .btn_box{top: 60px;}
    #sub .content_wrap .tit_box .btn_box > .print_box{display: none;}
    #sub .content_wrap .tit_box .btn_box button.share{margin-right: 0;}
    #sub .content_wrap .tit_box .share_box{margin-right: 0;}

    /* font */
    #sub .content_wrap .tit_box h3{font-size: 26px;}

}

/* 공통 */
#sub .content_wrap .container{padding:  0 100px;}
#sub .content_wrap .content{padding: 0 0 59px;}
.pager{margin: 10px 0 30px}

@media (max-width: 1199px) {

    #sub .content_wrap .container{padding:  0 20px;}

}

@media (max-width:420px) {

    .pager-num{vertical-align: -6px;}

}

/* 공통_boSrchArea */
#sub .content_wrap .content select{background:#fff url(../images/sub/icon24.png)no-repeat 0 center; background-size: 9px 7px;}
#sub .content_wrap .content .boSrchArea{margin-top: 29px;}
#sub .content_wrap .content .boSrchArea + .btn3{margin-bottom: 0; text-align: right; font-family: 'Noto Sans KR', sans-serif;}
#sub .content_wrap .content .boSrchArea + .btn3 button{margin-right: 0;}
#sub .content_wrap .content .boSrchArea + .btn3 button.btn3_1{margin-right: 7px;}
#sub .content_wrap .content .boSrchArea .boSrch-selectBox{width: 33.6%; font-size: 14px; font-weight: 100; color: #535353; background:#fff url(../images/sub/icon24.png)no-repeat 92% center; font-family: 'Noto Sans KR', sans-serif;}
#sub .content_wrap .content .boSrch-iptTxt{padding-left: 29px; width: calc(100% - 22% - 113px); font-size: 14px; font-weight: 100; color: #535353; letter-spacing: -1px; background: #fff url(../images/sub/icon12.png)no-repeat 9px center; background-size: 15px 15px; font-family: 'Noto Sans KR', sans-serif;}
#sub .content_wrap .content .boSrch-btnBo{background: #034da2; border: none; border-radius: 2px; font-weight: 300; font-size: 15px; color: #fff; font-family: 'Noto Sans KR', sans-serif;}
#sub .content_wrap .content .boSrchArea{padding: 11px 13px 11px 22px;}
#sub .content_wrap .content .boSrchArea .boSrch{width: 31.1%;}
#sub .content_wrap .content .boSrchArea .boMeta{padding-top: 11px; font-size: 0; line-height: 1; font-family: 'Noto Sans KR', sans-serif;}
#sub .content_wrap .content .boSrchArea .boMeta span{font-size: 14px;}
#sub .content_wrap .content .boSrchArea .boMeta span:first-child{margin-right: 8px;}
#sub .content_wrap .content .boSrchArea .boMeta span:last-child{color: #434343;}
#sub .content_wrap .content .boSrchArea .boMeta .boMeta-pt{padding-right: 0; color: #034da2;}
#sub .content_wrap .content .boSrchArea .boMeta .boMeta-pt:before{margin-right: 5px; width: 3px; height: 3px; background: #034da2;}

@media (max-width: 1199px) {

    #sub .content_wrap .content .boSrchArea .boSrch{width: 41.3%;}
    #sub .content_wrap .content .boSrch-iptTxt{width: calc(100% - 25% - 113px);}
    #sub .content_wrap .content .boSrchArea{padding: 11px 10px 11px 10px;}

}

@media (max-width: 999px) {

    #sub .content_wrap .content .boSrchArea .boSrch{width: 100%;}
    #sub .content_wrap .content .boSrchArea .boSrch-selectBox{width: 12.6%;}
    #sub .content_wrap .content .boSrch-iptTxt{width: calc(100% - 9% - 104px);}

}

@media (max-width: 639px) {

    #sub .content_wrap .content .boSrchArea .boSrch-selectBox{width: 100%; background: #fff url(../images/sub/icon24.png)no-repeat 98.5% center;}
    #sub .content_wrap .content .boSrch-iptTxt{/*width: calc(100% - -6% - 100px);*/ width: 100%; margin-bottom: 5px;}
    #sub .content_wrap .content .boSrch-btnBo{width: 100%!important; }

}

@media (max-width: 360px) {

    #sub .content_wrap .content .boSrchArea .boSrch-selectBox{background: #fff url(../images/sub/icon24.png)no-repeat 97.5% center;}

}

#sub .content_wrap .btn3{margin-bottom: 49px;font-size: 0;}
#sub .content_wrap .btn3 button{vertical-align: middle; border-radius: 3px;}
#sub .content_wrap .btn3 button.btn3_1{margin-right: 15px; padding: 0 18px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 100; color: #000; background: #d3d3d3;}
#sub .content_wrap .btn3 button.btn3_2{margin-right: 17px; padding: 0 11px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 100; color: #000; background: #d3d3d3;}
#sub .content_wrap .btn3 button.active {background: #034da2; color: #fff;}
#sub .content_wrap .btn3 .btn3_3{width: 260px; height: 44px; font-size: 16px; line-height: 42px; color: #000; border: 1px solid #034da2; transition: all .3s; background: #fff;}
#sub .content_wrap .btn3 .btn3_3 span{position: relative;}
#sub .content_wrap .btn3 .btn3_3 span::before{content: ""; position: absolute; top:50%; transform: translateY(-50%); left:-30px; width: 22px; height: 29px; background: url(../images/sub/icon10.png)no-repeat;}
#sub .content_wrap .btn3 .btn3_3:hover span::before{background: url(../images/sub/icon11.png)no-repeat;}
#sub .content_wrap .btn3 .btn3_3:hover{background: #2540a1; color: #fff;}

/* 공통_ui */
/* 공통_ui_tab */
#sub .content .tab_box{margin-bottom: 40px; overflow: hidden;}
#sub .content .tab_box .tab{position: relative;}
#sub .content .tab_box .tab::after{content: ""; width: 82px; height: 100%; position: absolute; top:0; right:0; background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%); z-index: 9;}
#sub .content .tab_box .tab::before{content: ""; width: 82px; height: 100%; position: absolute; top:0; left:0; background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%); z-index: 9;}
#sub .content .tab_box .tab .swiper-wrapper{display: table; table-layout: fixed;  width: 100%; z-index: 2;}
#sub .content .tab_box .tab a{display: table-cell; width: 220px; height: 60px; line-height: 60px; font-size: 20px; background: #f0f0f0; color: #444; text-align: center;}
#sub .content .tab_box .tab a.active {color: #fff; background: linear-gradient(to right, #366bda,  #3642da);}
#sub .content .tab_box .tab.right::after{display: none;}
#sub .content .tab_box .tab.left::before{display: none;}

@media (max-width: 1199px) {

    #sub .content .tab_box{margin-bottom: 30px;}
    #sub .content .tab_box .tab a{height: 50px; line-height: 50px; font-size: 18px;}

}

@media (max-width: 1024px) {

    #sub .content .tab_box{margin-bottom: 20px;}

}


/* 공통_ui_contsLead */
#sub .content .contsLead{padding: 25px 10px 25px 55px; border: 5px solid #ddd;}
#sub .content .contsLead:before{display: none;}
#sub .content .contsLead .contsLead-img{padding: 0;}
#sub .content .contsLead .contsLead-txt{padding: 0 0 0 61px;}
#sub .content .contsLead .contsLead-txt .pgraph{padding: 0; margin: 0; line-height: 24px; font-weight: 400;}
#sub .content .contsLead .contsLead-txt .pgraph strong{font-weight: 500; color:#3642da;}

@media (max-width: 760px) {

    #sub .content .contsLead{padding: 10px;}
    #sub .content .contsLead .contsLead-txt{padding: 0; text-align: justify;}
    #sub .content .contsLead .contsLead-txt br{display: none;}
    #sub .content .contsLead .contsLead-txt .pgraph{word-break: break-all;}

}

/* 공통_ui_titLv */
#sub .content .titLv{font-weight: 600; color: #111; font-size: 30px;}
#sub .content .titLv2{padding-left: 30px; position: relative; font-weight: 500; color: #111; font-size: 20px; line-height: 30px;}
#sub .content .titLv2::before{content: ""; width: 22px; height: 20px; position: absolute; top: 3px; left:0; background: url(../images/sub/icon6.png)no-repeat;}
#sub .content .titLv3{padding-left: 45px; color: #1b1b1b; line-height: 26px;}
#sub .content .titLv3::before{content: ""; top: 8px; left: 29px; width: 10px; height: 10px; background: url(../images/sub/icon7.png)no-repeat;}
#sub .content .titLv3 span{font-weight: 400; color: #3642da;}

@media (max-width: 1199px) {

    #sub .content .titLv{margin-bottom: 6px; font-size: 26px;}
    #sub .content .titLv2{font-size: 18px; line-height: 28px;}

}

@media (max-width: 1024px) {

    #sub .content .titLv{margin-bottom: 2px; font-size: 22px;}

}

/* 공통_ui_pgraph */
.titLv2 + .pgraph{}
#sub .content .pgraph strong{color: #c92128; font-weight: 300;}

/* 공통_ui_table */
#sub .content table.skinTb:before{border-top: 3px solid #111;}
#sub .content table.skinTb >thead >tr >th{color: #111; border-bottom-color: #111;}
#sub .content table.skinTb >tbody >tr >th{color: #111;}
#sub .content div.skinTb-wrapper + p{font-size: 16px; font-weight: 300;}

@media (max-width: 1199px) {

    #sub .content div.skinTb-wrapper + p{font-size: 15px;}

}

/* 공통_ui_btn */
#sub .content .contsBtn{border: 2px solid #3642da; border-radius: 50px; line-height: 46px;}
#sub .content .contsBtnSmall{line-height: 36px;}
#sub .content .contsBtn:hover{color: #fff;}
#sub .content .contsBtn:before{background: #3642da;}
#sub .content a.skinBtnBo{padding: 0; width: 70px; height: 36px; line-height: 36px; color: #fff; border-radius: 50px; border: 0; font-weight: 400;}
#sub .content a.skinBtnBo.skinBtnBo-data-pos{background: #333;}
#sub .content a.skinBtnBo.skinBtnBo-data-neg{background: #b90a00;}
#sub .content a.skinBtnBo.skinBtnBo-data-color{background: #0c6544;}
#sub .content a.skinBtnBo.skinBtnBo-data-bg{background: #2a2dae;}
#sub .content a.skinBtnBo.skinBtnBo-data-link{background: #75289c;}
#sub .content a.btn{display: inline-block; margin-right:10px; height: 44px; line-height: 44px; border-radius: 50px; text-align: center; font-weight: 400; font-size: 16px;}
#sub .content a.btn.btn01{width: 217px; background: #333; color: #fff;}
#sub .content a.btn.btn02{width: 173px; background: #fff; color: #3642da; border: 2px solid #3642da; line-height:42px;}
#sub .content a.btn.btn03{width: 173px; background: #3642da; color: #fff;}

@media (max-width: 760px) {

    #sub .content .contsBtn{line-height: 38px;}

}

/* 공통_ui_procedure */
#sub .content_wrap .procedure_wrap ul.procedure_box{max-width: 722px; margin-top: 20px;}
#sub .content_wrap .procedure_wrap ul.procedure_box li{position: relative; float: left; width: 15.6%; margin-right: 5.5%; text-align: center; line-height: 1;}
#sub .content_wrap .procedure_wrap ul.procedure_box li:last-child{margin-right: 0}
#sub .content_wrap .procedure_wrap ul.procedure_box li span{ width: 112px; margin-bottom: 13px; display: block; height: 112px; border: 3px solid #a0a0a0; line-height: 110px;  border-radius: 50%; text-align: center; font-size: 16px; font-weight: 300;}
#sub .content_wrap .procedure_wrap ul.procedure_box li::after{content: ""; position: absolute; right:-24%; top: 36%; transform: translateY(-50%); width: 15px; height: 23px; background: url(../images/sub/icon8.png)no-repeat;}
#sub .content_wrap .procedure_wrap ul.procedure_box li:last-child::after{display: none;}
#sub .content_wrap .procedure_wrap ul.procedure_box li:first-child span{border: 3px solid #3642da;}
#sub .content_wrap .procedure_wrap ul.procedure_box li em{font-size: 14px; color: #000; line-height: 19px; font-weight: 300;}

@media (max-width: 1199px) {

    #sub .content_wrap .procedure_wrap ul.procedure_box{width: 100%; max-width: none;}
    #sub .content_wrap .procedure_wrap ul.procedure_box li span{margin: 0 auto 13px;}

}

@media (max-width: 768px) {

    #sub .content_wrap .procedure_wrap ul.procedure_box li{width: 27.8%; margin-bottom: 20px;}
    #sub .content_wrap .procedure_wrap ul.procedure_box li::after{right: -12%;}

}

@media (max-width: 480px) {

    #sub .content_wrap .procedure_wrap ul.procedure_box li{width: 100%; margin: 0 0 30px;}
    #sub .content_wrap .procedure_wrap ul.procedure_box li:last-child{margin-bottom: 0;}
    #sub .content_wrap .procedure_wrap ul.procedure_box li span{width: 70%; height: 75px; line-height: 75px; border-radius: 20px;}
    #sub .content_wrap .procedure_wrap ul.procedure_box li::after{display: none; /*right: -18%;*/}

}

@media (max-width: 414px) {

    #sub .content_wrap .procedure_wrap ul.procedure_box li span{width: 100%;}

}

/* 농업기술자료_통합검색 */
#search_page{overflow: hidden;}
#search_page .container{max-width: 1400px;}
#search_page .search_top{position: relative; padding: 254px 0 74px;}
#search_page .search_top::after{content: ""; width: 1920px; height: 100%; position: absolute; top:0; left: 50%; margin-left: -960px; background: linear-gradient(#366bda, #3642da); z-index: -1;}
#search_page .search_top .search_box{position: relative; max-width: 1000px; height: 72px; line-height: 72px; margin: 0 auto; border-bottom: 2px solid #fff;}
#search_page .search_top .search_box select{padding-left: 11px; width: 130px; height: 100%; font-size: 18px; color: #fff; background: url(../images/sub/select.png)no-repeat 103px center; cursor: pointer; appearance:none; -webkit-appearance:none; -moz-appearance:none;}
#search_page .search_top .search_box input{padding-left: 380px; width: calc(100% - 45px); height: 100%; font-size: 24px; color:#fff; background: transparent}
#search_page .search_top .search_box input::placeholder{color: #fff;}
#search_page .search_top .search_box button{position: absolute; top:50%; transform: translateY(-50%); right:0; width: 52px; height: 100%; }
#search_page .search_top .search_box button::after{content: ""; width: 30px; height: 30px; position: absolute; right: 0; top: 50%; transform: translateY(-50%); background: url(../images/sub/search.png)no-repeat;}
#search_page .popular_box{margin-bottom: 42px;}
#search_page .popular_box dl{font-size: 0; overflow: hidden; text-align: center;}
#search_page .popular_box dl dt{margin-right: 25px; display: inline-block; width: 80px; height: 30px; line-height: 30px; border-radius: 50px; font-size: 14px; font-weight: 500; color: #fff; border: 1px solid #fff; text-align: center;}
#search_page .popular_box dl dd{display: inline-block; padding: 8px 0;}
#search_page .popular_box dl dd a{display: inline-block; margin:0 19px 0; font-size: 14px; color: #fff; font-weight: 300;}
#search_page .popular_box dl dd a:hover{text-decoration: underline;}
#search_page .boSrchTotalArea{max-width: 1300px; padding:15px 0 15px 56px; margin:0 auto; border: 0; background: rgba(255,255,255,15%); box-shadow: 0 0 30px rgba(0,0,0,5%);}
#search_page .boSrchTotalArea .qckPeriod{width: 28.54%; /*padding: 11px 0 10px;*/ border: 0; font-size: 0;}
#search_page .boSrchTotalArea .boSrchPeriod{padding: 0;}
#search_page .boSrchTotalArea .qckPeriod,
#search_page .boSrchTotalArea .boSrchPeriod{height: 50px; line-height: 52px; padding: 0; margin: 0;}
#search_page .boSrchTotalArea .qckPeriod .qckPeriod-tit{font-weight: 500; color: #fff; font-size: 16px;}
#search_page .boSrchTotalArea .qckPeriod .qckPeriod-conts{margin: 0;}
#search_page .boSrchTotalArea .qckPeriod .qckPeriod-conts a{padding: 0; width: 60px; height: 30px; line-height: 30px; border-radius: 0; font-weight: 300; color:#333; border:0; background: #fff; font-size: 16px;}
#search_page .boSrchTotalArea .qckPeriod .qckPeriod-conts a.active{background: #111; color: #fff;}
#search_page .boSrchTotalArea .boSrchPeriod{width: 71.46%; border: 0; font-size: 0;}
#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group{width: calc(50% - 174px); /*margin: 2px 0 0;*/}
#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-label{font-weight: 500; color: #fff; font-size: 16px; vertical-align: middle;}
#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-iptTxt{padding: 0;width: calc(100% - 130px); height: 30px; border: 0; background: #fff; font-weight: 300; color: #111; font-size: 16px; text-align: center;}
#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-iptTxt::placeholder{color: #111;}

#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .ui-datepicker-trigger{width: 16px; height: 18px;}
#search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-btnBo{width: 110px; height: 50px; line-height: 50px; background: #111; border: 0; border-radius: 0; font-size: 18px; color: #fefefe;}
#search_page .boSrchTotalArea .boSrchPeriod .box{margin-right: 50px; display: inline-block;}
#search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
#search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"] + label {display: inline-block; padding-left: 40px; position: relative; cursor: pointer; -webkit-user-select: none;  -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 16px; color: #fff; vertical-align: -6px;}
#search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"] + label:before {content: ' '; position: absolute; top: 50%; transform: translateY(-50%); left:0; display: inline-block; width: 30px; height: 30px; background: #fff; vertical-align: middle;}
#search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"]:checked + label:before{ background: url(../images/sub/icon5.png)no-repeat center;}
img[src*="btn-calendar"]{width: auto;}
#search_page .result_box{padding-bottom: 78px;}
#search_page .result_box h3{padding: 44px 0 45px; text-align: center;}
#search_page .result_box h3 p{font-size: 24px; color:  #777; line-height: 34px;}
#search_page .result_box h3 p span{font-weight: 500;}
#search_page .result_box h3 p span:nth-child(1){color:#111;}
#search_page .result_box h3 p span:nth-child(2){color: #3642da;}
#search_page .result_box ul.result_list{display: table; width: 100%; margin-bottom: 50px; padding: 31px 0; border: 1px solid #ddd;}
#search_page .result_box ul.result_list li{position: relative; padding: 0 31px; display: table-cell; text-align: center; font-weight: 500; font-size: 18px; letter-spacing: -2px;}
#search_page .result_box ul.result_list li::after{content: ""; position: absolute; top: 50%; margin-top: -8px; right:0; width: 1px; height: 16px; background: #444;}
#search_page .result_box ul.result_list li:nth-child(8)::after{display: none;}
#search_page .result_box ul.result_list li span{color: #3642da;}
#search_page .result_box .result{clear: both; position: relative; padding: 0 0 20px 0;}
#search_page .result_box .result h4{position: relative; padding-left: 30px; height: 50px; line-height: 50px; font-size: 18px; font-weight: 600; color: #111; background: #f5f5f5;}
#search_page .result_box .result h4::before{content: ""; position: absolute; top:50%; left: 20px; margin-top: -1.5px; width:3px; height: 3px; border-radius: 50%; background: #111;}
#search_page .result_box .result h4 span{color: #3642da;}
#search_page .result_box .result ul.text_list{}
#search_page .result_box .result ul.text_list li{}
#search_page .result_box .result ul.text_list li a{display: block; padding: 30px 46px 25px 20px; border-bottom: 1px solid #ddd;}
#search_page .result_box .result ul.text_list li a:hover{text-decoration: underline;}
#search_page .result_box .result ul.text_list li a h5{margin-bottom: 10px; font-size: 18px; color: #111; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#search_page .result_box .result ul.text_list li a p{margin-bottom: 24px; font-weight: 300; color:#111; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 48px; line-height: 24px; overflow: hidden; text-overflow: ellipsis;}
#search_page .result_box .result ul.text_list li:last-child a{border: 0;}
#search_page .result_box .result ul.text_list li a span{font-weight: 300; color: #111; line-height:24px;}
#search_page .result_box .result a.more{position: absolute; top:18px; right:49px; color: #444;}
#search_page .result_box .result a.more::after{content: ""; position: absolute; top:50%; margin-top: -0.5px; right: -29px; width: 19px; height: 1px;  background: #444;}
#search_page .result_box .result a.more::before{content: ""; position: absolute; top:50%; margin-top: -9.5px; right: -20px; width: 1px; height: 19px; background:#444;}
#search_page .result_box .result ul.img_list{margin: 30px -0.95% 30px;}
#search_page .result_box .result ul.img_list li{float: left; width: 23.1%; margin: 0 0.95%;}
#search_page .result_box .result ul.img_list li a{display: block;}
#search_page .result_box .result ul.img_list li a .img{position: relative; margin-bottom: 16px; height: 210px; background: #ddd;}
#search_page .result_box .result ul.img_list li a .img img{position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; max-width: 100%; max-height: 100%; margin: auto;}
#search_page .result_box .result ul.img_list li a p{margin-bottom: 31px; color: #111; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 48px; line-height: 24px; overflow: hidden; text-overflow: ellipsis;}
#search_page .result_box .result ul.img_list li a span.date{font-weight: 300; font-size: 14px; color: #777;}
#search_page .result_box .result ul.img_list li a:hover{text-decoration: underline;}
#search_page .result_box .result ul.menu{margin: 26px 0 0; padding-left: 20px;}
#search_page .result_box .result ul.menu li{margin-bottom: 11px;}
#search_page .result_box .result ul.menu li:last-child{margin: 0;}
#search_page .result_box .result ul.menu li a{display: block; color: #111; font-weight: 300; line-height: 24px;}
#search_page .result_box .result ul.menu li a span{margin-right: 21px; color: #3642da;}
#search_page .result_box .result ul.menu li a:hover{text-decoration: underline;}

@media (max-width: 1300px) {

    #search_page .boSrchTotalArea .boSrchPeriod .box{margin: 0;}
    #search_page .boSrchTotalArea .qckPeriod,
    #search_page .boSrchTotalArea .boSrchPeriod{width: 100%; }
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group{padding: 10px 0;}
    #search_page .boSrchTotalArea{padding: 15px 10px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-btnBo{float: right;}

}

@media (max-width: 1199px) {

    #search_page .result_box ul.result_list{display: block;}
    #search_page .result_box ul.result_list li{display: block; padding: 0; float: left; width: 25%; margin-bottom: 30px; font-size: 16px;}
    #search_page .result_box ul.result_list li:nth-child(5),
    #search_page .result_box ul.result_list li:nth-child(6),
    #search_page .result_box ul.result_list li:nth-child(7),
    #search_page .result_box ul.result_list li:nth-child(8){margin-bottom: 0;}
    #search_page .result_box ul.result_list li:nth-child(4):after{display: none;}

    #search_page .search_top{padding: 116px 0 62px;}

    #search_page .search_top .search_box input{width: calc(100% - 50px);}
    #search_page .search_top .search_box button::after{transform: translateY(-50%) scale(0.9);}
    #search_page .search_top .search_box button{width: 30px;}

    #search_page .result_box h3{padding: 34px 0 35px;}
    #search_page .result_box h3 p{font-size: 22px; line-height: 32px;}

    #search_page .result_box ul.result_list{padding: 20px 0; margin-bottom: 30px;}

    #search_page .boSrchTotalArea .qckPeriod{margin-bottom: 15px;}
    #search_page .boSrchTotalArea .qckPeriod,
    #search_page .boSrchTotalArea .boSrchPeriod{height: auto; line-height: 1;}

    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group{width: calc(50% - 142px); padding: 5px 0;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-btnBo{width: 100px; height: 40px; line-height: 40px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-iptTxt{width: calc(100% - 94px);}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-btnBo{font-size: 15px;}

    #search_page .search_top .search_box input{padding-left: 0; text-align: center; font-size: 22px;}
    #search_page .search_top .search_box select{width: 120px; font-size: 16px; background: url(../images/sub/select.png)no-repeat 94px center;}

    #search_page .boSrchTotalArea .qckPeriod .qckPeriod-conts a{width: 55px; font-size: 15px;}

    #search_page .result_box .result ul.menu li a{font-size: 15px; line-height: 23px;}
    #search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"] + label{padding-left: 34px; font-size: 15px;}
    #search_page .boSrchTotalArea .boSrchPeriod input[type="checkbox"] + label:before{width: 25px; height: 25px;}
    #search_page .boSrchTotalArea .qckPeriod .qckPeriod-tit{font-size: 15px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-label{font-size: 15px;}

    #search_page .result_box ul.result_list li{font-size: 15px;}

}

@media (max-width: 1024px) {

    #search_page .boSrchTotalArea{padding: 15px 10px 10px;}

    #search_page .result_box h3{padding: 24px 0 25px;}
    #search_page .result_box h3 p{font-size: 20px; line-height: 30px;}

    #search_page .result_box .result h4{padding-left: 25px; font-size: 16px;}
    #search_page .result_box .result h4::before{left:15px;}
    #search_page .result_box .result a.more{font-size: 15px;}

    #search_page .result_box .result{}
    #search_page .result_box .result ul.text_list li a h5{margin-bottom: 8px; font-size: 16px;}
    #search_page .result_box .result ul.text_list li a{padding: 20px 46px 20px 15px;}
    #search_page .result_box .result ul.text_list li a p{margin-bottom: 23px; height: 47px; line-height: 23px; font-size: 15px;}
    #search_page .result_box .result ul.text_list li a span{font-size: 15px;}

    #search_page .search_top{/*padding: 30px 0;*/}
    #search_page .search_top .search_box input{font-size: 20px;}
    #search_page .popular_box{margin-bottom: 35px;}

    #search_page .result_box .result ul.img_list{margin: 20px -0.5% 0;}
    #search_page .result_box .result ul.img_list li{width: 24%; margin: 0 0.5%;}
    #search_page .result_box .result ul.img_list li a .img{margin-bottom: 14px;}
    #search_page .result_box .result ul.img_list li a p{margin-bottom: 16px;}

    #search_page .result_box .result ul.menu{margin: 16px 0 0; padding-left: 15px;}
    #search_page .result_box .result ul.menu li{margin-bottom: 5px;}
    #search_page .result_box .result ul.menu li a span{margin-right: 10px;}

}

@media (max-width: 768px) {

    #search_page .result_box ul.result_list li{width: 33.33%;}
    #search_page .result_box ul.result_list li:nth-child(5),
    #search_page .result_box ul.result_list li:nth-child(6){margin-bottom: 30px;}
    #search_page .result_box ul.result_list li:nth-child(7),
    #search_page .result_box ul.result_list li:nth-child(8),
    #search_page .result_box ul.result_list li:nth-child(9){margin-bottom: 0;}

    #search_page .result_box ul.result_list li:nth-child(4):after{display: block;}
    #search_page .result_box ul.result_list li:nth-child(3):after,
    #search_page .result_box ul.result_list li:nth-child(6):after{display: none;}

    #search_page .result_box .result{padding: 0 0 10px 0;}
    #search_page .boSrchTotalArea .boSrchPeriod .box{width: 100%; margin-top: 15px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-btnBo{width: 100%; margin-top: 15px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group{width: 100%; padding: 2px 0; margin: 0;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-iptTxt{width: calc(100% - 77px);}
    #search_page .search_top .search_box input{font-size: 18px;}

    #search_page .result_box .result ul.img_list li{width: 49%; margin: 0 0.5% 30px;}

}

@media (max-width: 576px) {

    #search_page .result_box ul.result_list li{width: 50%;}

    #search_page .result_box ul.result_list li:nth-child(3):after{display: block;}
    #search_page .result_box ul.result_list li:nth-child(2):after,
    #search_page .result_box ul.result_list li:nth-child(4):after{display: none;}

}

@media (max-width: 480px) {

    #search_page .search_top .search_box input{font-size: 16px;}
    #search_page .boSrchTotalArea .boSrchPeriod .boSrchPeriod-group .boSrchPeriod-iptTxt{width: calc(100% - 67px);}

    #search_page .popular_box dl dt{width: 100%; margin: 0 0 5px;}
    #search_page .popular_box dl dd{padding-bottom: 0;}
    #search_page .popular_box dl dd a{margin-bottom: 10px;}

    #search_page .result_box .result ul.text_list li a{padding: 20px 20px 20px 15px;}

}

@media (max-width: 414px) {

    #search_page .search_top .search_box input{text-align: left;}

    #search_page .result_box .result ul.img_list{margin: 20px 0 0;}
    #search_page .result_box .result ul.img_list li{width: 100%; margin: 0 0 30px;}

}

/* 목록 */
#sub .content_wrap .content ul.info_list{margin: 30px -12px -14px;}
#sub .content_wrap .content ul.info_list > li{float: left; width: 23%; margin: 0 1% 50px;}
#sub .content_wrap .content ul.info_list li a{position: relative; display:block; border: 1px solid #c1c1c1; transition: all .3s;}
#sub .content_wrap .content ul.info_list li a:hover{position: relative; top: -10px; box-shadow: 0 20px 20px rgba(0,0,0,.1); }
#sub .content_wrap .content ul.info_list li a:hover::after{display: block;}
#sub .content_wrap .content ul.info_list li a span.area{display: inline-block; min-width: 60px; height: 24px; line-height: 24px; margin-bottom:16px; color: #fff; text-align: center; transition: all .3s; background: linear-gradient(to right, #366ad6,  #3642da); font-weight: 500; border-radius: 50px; font-size: 14px;}
#sub .content_wrap .content ul.info_list li a strong{display: block; margin-bottom: 15px; color:#111; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 500; font-size: 18px;}
#sub .content_wrap .content ul.info_list li ul.list2 li{position: relative; margin-bottom: 14px; font-size: 14px; color:#444; line-height: 1;}
#sub .content_wrap .content ul.info_list li ul.list2 li.address{padding-left: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#sub .content_wrap .content ul.info_list li ul.list2 li.address::before{content: ""; position: absolute; top:0; left:0; width: 11px; height: 14px; background: url(../images/sub/icon1.png)no-repeat;}
#sub .content_wrap .content ul.info_list li ul.list2 li.phone{padding-left: 17px;}
#sub .content_wrap .content ul.info_list li ul.list2 li.phone::before{content: ""; position: absolute; top:1px; left:0; width: 11px; height: 11px; background: url(../images/sub/icon2.png)no-repeat;}
#sub .content_wrap .content ul.info_list li ul.list2 li.text{margin-bottom: 0; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 44px; line-height: 22px; overflow: hidden; text-overflow: ellipsis;}
#sub .content_wrap .content ul.info_list li ul.list2 li:last-child{margin-bottom: 0;}
#sub .content_wrap .content ul.info_list li a span.area{position: absolute; top: 187px; left: 18px; margin-bottom: 0;}
#sub .content_wrap .content ul.info_list li a .img_box{position: absolute; top:0; left:0; right:0; height: 200px; /*padding-top: 66%;*/ background: #e6eef1;}
#sub .content_wrap .content ul.info_list li a .img_box img{width: 100%; height: 100%; object-fit: cover;}
#sub .content_wrap .content ul.info_list li a .text_box{position: relative; margin-bottom: 0;  padding: 227px 10px 16px 18px;}

@media (max-width: 1199px) {

    #sub .content_wrap .content ul.info_list{margin-bottom: 0;}

}

@media (max-width:1024px) {

    #sub .content_wrap .content ul.info_list > li{width: 31.33%; margin-bottom: 20px;}

}

@media (max-width:576PX) {

    #sub .content_wrap .content ul.info_list > li{width: 48%;}

}

@media (max-width:414PX) {

    #sub .content_wrap .content ul.info_list{margin: 30px 0 36px;}
    #sub .content_wrap .content ul.info_list > li{width: 100%; margin: 0  0 20px;}

}

/* 목록(전체) */
#sub .content_wrap .content .box{position: relative; margin:30px 0 22px; border-bottom: 1px solid #d2d2d2;}
#sub .content_wrap .content .box h4{font-size: 24px; color: #000; font-weight: 600;}
#sub .content_wrap .content .box h4 span{color: #777; font-weight: 400;}
#sub .content_wrap .content .box a.more{position: relative; display: block; padding-left: 15px; width: 100px; height: 30px; line-height: 28px; border: 1px solid #111; position: absolute; top:0; right:0; border-radius: 50px; font-size: 14px; color: #111;}
#sub .content_wrap .content .box a.more::after{content: ""; position: absolute; right: 16px; top: 50%; margin-top: -0.5px; width: 15px; height: 1px; background: #2d2d2d;}
#sub .content_wrap .content .box a.more::before{content: ""; position: absolute; right: 23px; top: 50%; margin-top: -7.5px; width: 1px; height: 15px; background: #2d2d2d;}
#sub .content_wrap .content ul.info_list.st2 li a .text_box{padding: 59px 10px 19px 18px; }
#sub .content_wrap .content ul.info_list.st2 li a span.area{top:19px;}
#sub .content_wrap .content ul.info_list.st2 li a .text_box{}

/* 게시물 */
#sub .content_wrap .content .top{position: relative; padding: 50px 0; min-height: 400px}
#sub .content_wrap .content .top::before{content: ""; width: 1920px; height: 100%; top:0; position: absolute; left: 50%; margin-left: -960px;  background: #f1f4fa; z-index: -1;}
#sub .content_wrap .content .top .img{float: left; margin-right: 100px; width: 425px; height: 300px; border-radius: 20px; overflow: hidden;}
#sub .content_wrap .content .top .img img{display: block; width: 100%;}
#sub .content_wrap .content .top .text{float: left; width: calc(100% - 525px); padding-top: 34px;}
#sub .content_wrap .content .top .text h4{margin-bottom: 37px; font-size: 26px; color: #111; font-weight: 600;}
#sub .content_wrap .content .top .text dl{margin-bottom: 14px; overflow: hidden;}
#sub .content_wrap .content .top .text dt{padding-left: 30px; position: relative; float: left; width: 119px; font-weight: 500; color: #111; line-height: 22px;}
#sub .content_wrap .content .top .text dt::before{content: ""; position: absolute; top: 1px; left: 0; width: 20px; height: 20px;}
#sub .content_wrap .content .top .text dt.icon1::before{background: url(../images/sub/icon01.png)no-repeat;}
#sub .content_wrap .content .top .text dt.icon2::before{background: url(../images/sub/icon01.png)no-repeat;}
#sub .content_wrap .content .top .text dt.icon3::before{background: url(../images/sub/icon01.png)no-repeat;}
#sub .content_wrap .content .top .text dt.icon4::before{background: url(../images/sub/icon01.png)no-repeat;}
#sub .content_wrap .content .top .text dt.icon5::before{background: url(../images/sub/icon01.png)no-repeat;}
#sub .content_wrap .content .top .text dd{float: left; width: calc(100% - 119px); font-weight: 300; color: #444; line-height: 22px;}
#sub .content_wrap .content .box2:last-child{border: 0;}
#sub .content_wrap .content .box2{position: relative; padding-bottom: 47px; border-bottom: 1px solid #c1c1c1;}
#sub .content_wrap .content .box2 h5{margin:50px 0 16px; line-height: 1;}
#sub .content_wrap .content .box2 .pgraph{margin-bottom: 0; padding-top: 0; line-height: 22px; font-weight: 300; color: #111;}
#sub .content_wrap .content .box2 .listLv li{margin-bottom: 10px; padding: 0 0 0 17px; line-height: 22px; font-size: 14px;}
#sub .content_wrap .content .box2 .listLv li:last-child{margin-bottom: 0;}
#sub .content_wrap .content .box2 .listLv li::before{left:0; top: 6px;}
#sub .content_wrap .content .box2 .map{margin-top: 16px; height: 300px;}
#sub .content_wrap .content .box2 ul.img_box{position: relative; top: 6px; padding: 50px 0;}
#sub .content_wrap .content .box2 ul.img_box li{float: left; width: 25%;}
#sub .content_wrap .content .box2 ul.img_box li img{display:block; width: 100%;}
#sub .content_wrap .content .box2 ul.img_box::before{content: ""; position: absolute; width: 1920px; height: 100%; left: 50%; top:0; margin-left: -960px; background: #f1f4fa; z-index: -1;}

@media (max-width: 1199px) {

    #sub .content_wrap .content .top .text h4{margin-bottom: 35px; font-size: 24px;}
    #sub .content_wrap .content .top .text{padding-top: 32px;}
    #sub .content_wrap .content .box2{padding-bottom: 20px;}

    #sub .content_wrap .content .top{padding: 30px 0;}
    #sub .content_wrap .content .top .img{margin-right: 70px;}
    #sub .content_wrap .content .top .text{width: calc(100% - 495px);}

    #sub .content_wrap .content .box2 h5{margin: 30px 0 16px;}

    #sub .content_wrap .content .box2 ul.img_box{position: relative; top: 0; padding: 30px 0;}

    #sub .content_wrap .content .box a.more{width: 90px; padding-left: 12px; }
    #sub .content_wrap .content .box a.more::before{right: 20px;}
    #sub .content_wrap .content .box a.more::after{right: 13px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content .top .img{margin-right: 60px;}
    #sub .content_wrap .content .top .text{width: calc(100% - 485px);}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .top .img{margin: 0; height: auto;}
    #sub .content_wrap .content .top .img,
    #sub .content_wrap .content .top .text{float: none; width: 100%;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content .box2 ul.img_box li{width: 33.33%;}

}

@media (max-width: 414px) {

    #sub .content_wrap .content .box2 ul.img_box li{width:  50%;}

}

/* 나만의 여행 코스 완료*/
#sub .map_box{margin: -1px 0 -46px 0;height: 780px;}
#sub .map_box .map_img{position: absolute; width: 100%!important; left:0; height: 780px!important;}
#sub .map_box .map_img.right{right:0;}
#sub .map_box .course{position: absolute; top:112px; right:0; bottom: 0; width: 300px; height: 780px; box-shadow: -3px 0 4px rgba(0,0,0,.4); z-index: 100;}
#sub .map_box .course::after{content: ""; width: 300px;height: 60px;position: absolute; bottom: -60px; right: 0; background: #fff;}
#sub .map_box .course .course_top{padding:30px 20px 24px 20px; height: 182px; background: #0e77e0;}
#sub .map_box .course .course_top input[type="text"]{margin-bottom: 16px; padding-left: 12px; width: 260px; height: 44px; background: #fff; border-radius: 2px; font-size: 16px; color: #9ea09f;}
#sub .map_box .course .course_top input[type="text"]::placeholder{color: #9ea09f;}
#sub .map_box .course .course_top .tab{margin-bottom: 8px;}
#sub .map_box .course .course_top .tab a{float: left; display: block; margin-right: 10px; width: 30.7%; height: 30px; line-height: 30px; color: #000; text-align: center; background: #fff; border-radius: 2px; background: #fff;}
#sub .map_box .course .course_top .tab a:last-child{margin-right: 0;}
#sub .map_box .course .course_top .tab a.active{background: #2540a1; color: #fff;}
#sub .map_box .course .course_top .box{position: relative; float: left; margin-right: 10px; width: 48%; height: 30px; line-height: 30px; }
#sub .map_box .course .course_top .box:last-child{margin-right: 0;}
#sub .map_box .course .course_top .box > a{position: relative; display: block; padding-left: 20px; border-radius: 2px; background: #fff; color:#505050; font-size: 14px;}
#sub .map_box .course .course_top .box > a::after{content: ""; position: absolute; top: 50%; transform: translateY(-50%); right:11px; background: url(../images/sub/icon13.png)no-repeat; width: 14px; height: 8px;}
#sub .map_box .course .course_top .box > a:hover::after{animation: icon .7s infinite ease both;}
@keyframes icon {
    0%{top:15px}
    25%{top:16px;}
    50%{top:17px;}
    100%{top:18px;}
}
#sub .map_box .course .course_top .box > a.active::after{transform: translateY(-50%) rotate(180deg);}
#sub .map_box .course .course_top .box .example{display: none; padding: 5px 0; position: absolute; top:30px; left:0; right:0; background: #fff; z-index: 1;}
#sub .map_box .course .course_top .box .example a{display: block; padding: 5px 5px 5px 20px; font-size: 14px; color: #505050; line-height: 1;}
#sub .map_box .course .course_top .box .example a:hover, a.active{font-weight: 700; }
#sub .map_box .course .course_box{height: 599px; padding: 28px 20px 0 20px; background: #d3e7ff; opacity: .9;}
#sub .map_box .course .course_box .box{position: relative; margin-bottom: 10px; position: relative; padding: 0 0 0 41px; height: 50px; line-height: 50px; font-size: 0; background: #fff; border-radius: 10px;}
#sub .map_box .course .course_box .box::after{content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: 10px; width: 14px; height: 10px; background: url(../images/sub/menu.png)no-repeat;}
#sub .map_box .course .course_box .box span.number{position: absolute; top:-5px; left:13px; margin-right: 13px; font-size: 14px; font-weight: 500; color: #fff; z-index: 1;}
#sub .map_box .course .course_box .box span.number::after{content: ""; position: absolute; top:14px; left: 50%; right:0; bottom: 0; transform: translateX(-50%); background: url(../images/sub/icon14.png)no-repeat; width: 22px; height: 32px; z-index: -1;}
#sub .map_box .course .course_box .box strong{ position: absolute; top: 50%; width: 39%; transform: translateY(-50%); display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 38px; line-height: 18px; overflow: hidden; text-overflow: ellipsis; font-size: 14px; color: #505050;}
#sub .map_box .course .course_box .box .btn_box02{position: absolute; top: 50%; transform: translateY(-50%); right:0;}
#sub .map_box .course .course_box .box button.close{margin-right: 37px; width: 13px; height: 13px; background: url(../images/sub/close.png)no-repeat;}
#sub .map_box .course .course_box .box.ui-state-default{border: none;}
#sub .map_box .course .btn_box01{position: absolute; top:365px; left:-18px; }
#sub .map_box .course .btn_box01 .btn_close{position: relative; width: 18px; height:50px; background: #d3e7ff; opacity: .9; box-shadow: -3px -2px 4px rgba(0,0,0,.4);}
#sub .map_box .course .btn_box01 .btn_close::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 6px; height: 11px; background: url(../images/sub/icon15.png)no-repeat;}
#sub .map_box .course .btn_box01 .btn_open{display: none; position: relative; width: 18px; height:50px; background: #d3e7ff; opacity: .9; box-shadow: -3px -2px 4px rgba(0,0,0,.4);}
#sub .map_box .course .btn_box01 .btn_open::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(180deg); width: 6px; height: 11px; background: url(../images/sub/icon15.png)no-repeat;}
#sub .map_box .course .btn3{position: absolute; left:0; right:0; bottom: 16px; margin: 0; text-align: center;}
#sub .map_box{position: relative; overflow: hidden;}
#sub .map_box .course .course_top{height: auto;}
#sub .map_box .course{top:0!important; right:0; z-index: 999;}
#sub .map_box .course::after{display: none;}
#sub .map_box .course .course_box{height: 688px;}
#sub .map_box .map_img{position: absolute; top: 0; left: 0; height: 780px!important; right: 0;}

@media (max-width: 1199px) {

    #sub .map_box .course::after{height: 40px; bottom: -40px;}

}

@media (max-width: 768px) {

    #sub .map_box .course{height: auto; top: auto; bottom: -25px; width: 100%;}
    #sub .content_wrap .content .map_box .course::after{display: none;}
    #sub .content_wrap .content .map_box .course .course_top input[type="text"]{width: 100%;}
    #sub .content_wrap .content .map_box .course .course_top .tab a{margin: 0 1% 0 0; width: 32.6%; }
    #sub .content_wrap .content .map_box .course .course_top .tab a:last-child{margin-right: 0;}
    #sub .content_wrap .content .map_box .course .course_top{height: auto; padding: 20px 10px 50px;}
    #sub .content_wrap .content .map_box .course .course_top .box{width: 49.5%; margin-right: 1%;}
    #sub .content_wrap .content .map_box .course .course_box .box{height: 44px;}
    #sub .content_wrap .content .map_box .course .course_box .box:last-child{margin-bottom: 0;}
    #sub .content_wrap .content .map_box .course .course_box{padding: 10px 10px 74px 10px; height: auto;}

    #sub .content_wrap .content .map_box .course .course_top input[type="text"]{height: 36px;}
    #sub .content_wrap .content .map_box .course .course_top .tab a{height: 26px; line-height: 26px;}
    #sub .content_wrap .content .map_box .course .course_box .box span.number{top: -7px;}


}

/* 나만의 여행 코스 전체 */
#sub .course_all{position: absolute; top:0px; left:0; width: 300px; height: 440px; border-radius: 0 0 10px 0; box-shadow: 4px 4px 3px rgba(0,0,0,.3); z-index: 1;}
#sub .course_all .course_all_top{ padding: 24px 20px 13px 20px; height: 182px; background: #0e77e0;}
#sub .course_all .course_all_top h3{margin-bottom: 17px; font-size: 26px; font-weight: 700; color: #fff; text-align:center;}
#sub .course_all .course_all_top input[type="text"]{width: 100%; height: 44px; line-height: 44px; padding-left:11px; margin-bottom: 18px; background: #fff; font-size: 14px; color: #9ea09f; border-radius: 5px; letter-spacing: -1px; background: #fff url(../images/sub/search.png)no-repeat 233px center; box-shadow: 2px 2px 4px rgba(0,0,0,.3) inset;}
#sub .course_all .course_all_top input[type="text"]::placeholder{color: #9ea09f;}
#sub .course_all .course_all_top ul.search_list li{position: relative; float: left; margin-right: 11px; width: 16.6%;}
#sub .course_all .course_all_top ul.search_list li:last-child{margin-right: 0;}
#sub .course_all .course_all_top ul.search_list li a{display: block;  height: 41px; text-align: center;}
#sub .course_all .course_all_top ul.search_list li:hover a{border-radius: 3px;}
#sub .course_all .course_all_top ul.search_list li:hover a span{color: #000;}
#sub .course_all .course_all_top ul.search_list li.tourism:hover a{background: #fff url(../images/sub/tourism_hover.png)no-repeat center 5px; background-size: 18px 17px; }
#sub .course_all .course_all_top ul.search_list li.lodgment:hover a{background: #fff url(../images/sub/lodgment_hover.png)no-repeat center 7px; background-size: 18px 14px; }
#sub .course_all .course_all_top ul.search_list li.beverage:hover a{background: #fff url(../images/sub/beverage_hover.png)no-repeat 16px 7px; background-size: 19px 15px; }
#sub .course_all .course_all_top ul.search_list li.experience:hover a{background: #fff url(../images/sub/experience_hover.png)no-repeat center 6px; background-size: 17px 17px; }
#sub .course_all .course_all_top ul.search_list li.animal_hospital:hover a{background: #fff url(../images/sub/animal_hospital_hover.png)no-repeat center 5px; background-size: 16px 18px; }
#sub .course_all .course_all_top ul.search_list li a span{display: block; position: absolute; width: 100%; bottom: 3px; left: 50%; transform: translateX(-50%); font-size: 12px; color:#fff;}
#sub .course_all .course_all_top ul.search_list li.tourism a{background: url(../images/sub/tourism.png)no-repeat center 5px; background-size: 18px 17px; }
#sub .course_all .course_all_top ul.search_list li.lodgment a{background: url(../images/sub/lodgment.png)no-repeat center 7px; background-size: 18px 14px; }
#sub .course_all .course_all_top ul.search_list li.beverage a{background: url(../images/sub/beverage.png)no-repeat 16px 7px; background-size: 19px 15px; }
#sub .course_all .course_all_top ul.search_list li.experience a{background: url(../images/sub/experience.png)no-repeat center 6px; background-size: 17px 17px; }
#sub .course_all .course_all_top ul.search_list li.animal_hospital a{background: url(../images/sub/animal_hospital.png)no-repeat center 5px; background-size: 16px 18px; }
#sub .course_all .course_all_box{padding: 37px 20px 0 20px; height: 250px; background: #fff; border-radius: 0 0 10px 0;}
#sub .course_all .course_all_box strong{position: relative; display: block; position: relative; margin-bottom: 25px; font-size: 14px; font-weight: 500; color:#000;}
#sub .course_all .course_all_box strong::after{content: ""; position: absolute; top:6px; left:71px; width: 190px; height: 1px; background: #b1b3b2;}
#sub .course_all .course_all_box ul{padding-left: 15px; overflow: hidden; }
#sub .course_all .course_all_box ul li{margin-bottom: 18px;}
#sub .course_all .course_all_box ul li input[type="checkbox"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
#sub .course_all .course_all_box ul li label::before{content: ""; position: absolute; top: 2px; left:0; width: 12px; height: 13px; border: 1px solid #c6c6c6;}
#sub .course_all .course_all_box ul li label{position: relative; padding: 0 0 0 21px; color: #505050; cursor: pointer;}
#sub .course_all .course_all_box ul li input[type="checkbox"]:checked + label::before{content: "\2713"; line-height: 11px;}
#sub .course_all .btn3{position: absolute; bottom: 20px; margin: 0; width: 100%; text-align: center;}
#sub .course_all .btn_box01{position: absolute; top:50%; right:-20px; transform: translateY(-50%); z-index: -1;}
#sub .course_all .btn_close{position: relative; width: 20px; height:50px; background: #fff; opacity: .9; box-shadow: 2px 1px 4px rgb(0 0 0 / 40%);}
#sub .course_all .btn_open::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 6px; height: 11px; background: url(../images/sub/icon15.png)no-repeat;}
#sub .course_all .btn_open{display: none; position: relative; width: 20px; height:50px; background: #fff; opacity: .9; box-shadow: -3px -2px 4px rgba(0,0,0,.4);}
#sub .course_all .btn_close::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(180deg); width: 6px; height: 11px; background: url(../images/sub/icon15.png)no-repeat;}






/* 지도 팝업 */
#sub .content_wrap .content .map_popup{padding: 15px 14px 9px 14px; position: relative; width: 218px; background: #fff; border: 1px solid #2540a1; border-radius: 8px; font-size: 0; box-shadow: 0px 0px 18px rgba(0,0,0,.8);}
#sub .content_wrap .content .map_popup strong{display: block; margin-bottom: 11px; font-size: 14px; font-weight: 500; color: #242424;}
#sub .content_wrap .content .map_popup .img_box{position: relative; margin-bottom: 4px; width: 188px; border-radius: 8px;}
#sub .content_wrap .content .map_popup .img_box img{width: 100%; height: 100%; object-fit: cover; border-radius: 8px;}
#sub .content_wrap .content .map_popup p{margin-bottom: 25px; font-size: 14px; color: #505050; line-height: 22px; white-space: initial;}
#sub .content_wrap .content .map_popup a{width: 90px; height: 30px; margin-right: 8px; line-height: 30px; display: inline-block; text-align: center; background: #d3e7ff; font-size: 14px; color: #242424; border-radius: 7px; transition: all .3s;}
#sub .content_wrap .content .map_popup a:nth-of-type(2){margin-right: 0;}
#sub .content_wrap .content .map_popup a:hover{transform: scale(1.07);}
#sub .content_wrap .content .map_popup button.pop_close{position: absolute; top:-13px; right:8px; width: 24px; height: 24px; background: url(../images/sub/pop_close.png)no-repeat; transition: all .3s;}

@media (max-width: 1199px) {

    #sub .content_wrap .content .course_all .course_all_top h3{font-size: 22px; }
    #sub .content_wrap .content .course_all .course_all_box ul li label{font-size: 15px;}
    #sub .content_wrap .content .course_all .course_all_box ul li label::before{top:0;}
    #sub .content_wrap .btn3 .btn3_3{font-size: 15px;}
    #sub .content_wrap .btn3 .btn3_3 span::before{transform: translateY(-50%) scale(0.9);}
    #sub .content_wrap .content .course_all .course_all_box{padding: 20px 10px;}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .course_all .course_all_top input[type="text"]{background-position-x:98%;}
    #sub .content_wrap .content .course_all .course_all_top ul.search_list li.beverage a{background-position-x:52%!important;}
    #sub .content_wrap .content .course_all{width: 100%; top: auto; bottom: -106px; left: 0!important; height: auto;}
    #sub .content_wrap .content .course_all .course_all_box{height: auto; padding: 20px 10px 86px 20px;}
    #sub .content_wrap .content .course_all .course_all_box ul li{float: left; width: 33.33%;}
    #sub .content_wrap .content .course_all .course_all_top ul.search_list li{width: 20%; margin: 0;}

    #sub .content_wrap .content .course_all .course_all_box strong::after{width: 100%;}
    #sub .content_wrap .content .course_all .btn3{bottom: 20px;}

    #sub .content_wrap .btn3 button.btn3_3{height: 39px; line-height: 39px; }
    #sub .content_wrap .content .course_all .btn_box01{display: none;}

}
